In [1]:
from src import database
import pandas as pd
from src import config

database.create_all()
database.models.Meta.update(
    pd.read_excel(
        config.DATABASE_EXC, 
        sheet_name="tb_meta", 
        parse_dates=["inception_date"]
    )
)

In [1]:
from src.core import strategy
from src.core.analytics import metrics, estimators, features
import yfinance as yf

prices = yf.download("ACWI, BND, VNQ, SPY, QQQ, ARKW")["Adj Close"]

# features.momentum(prices, years=5)

[*********************100%***********************]  6 of 6 completed

Timestamp('2023-04-10 00:00:00')

In [25]:
(prices / prices.resample("D").last().ffill().shift(1, freq=pd.DateOffset(months=1))).dropna()

                ACWI      ARKW       BND       QQQ       SPY       VNQ
Date
2014-10-30  0.998812  0.990995  1.008940  1.012451  1.011978  1.085734
2014-11-03  1.019406  1.012910  1.003815  1.035958  1.026715  1.102990
2014-11-04  1.014597  1.012910  1.003571  1.032495  1.023153  1.104790
2014-11-05  1.018719  1.002979  1.004793  1.032596  1.029615  1.102436
2014-11-06  1.012472  1.015525  1.000155  1.038077  1.034948  1.091122
...              ...       ...       ...       ...       ...       ...
2023-04-03  1.016181  1.022326  1.031494  1.069960  1.020605  0.957158
2023-04-04  1.012634  1.021161  1.035678  1.066351  1.014943  0.955880
2023-04-05  1.007425  0.983498  1.038467  1.055823  1.012285  0.950767
2023-04-06  1.012088  1.005097  1.040649  1.061737  1.015531  0.961033
2023-04-10  1.057434  1.105724  1.020005  1.103317  1.065464  1.034521

[2123 rows x 6 columns]

In [21]:
prices.pct_change(21)

                ACWI      ARKW       BND       QQQ       SPY       VNQ
Date
1993-01-29       NaN       NaN       NaN       NaN       NaN       NaN
1993-02-01       NaN       NaN       NaN       NaN       NaN       NaN
1993-02-02       NaN       NaN       NaN       NaN       NaN       NaN
1993-02-03       NaN       NaN       NaN       NaN       NaN       NaN
1993-02-04       NaN       NaN       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...       ...       ...
2023-04-03  0.016181  0.022326  0.031494  0.069960  0.020605 -0.042842
2023-04-04  0.013308  0.031170  0.038133  0.065142  0.014240 -0.040367
2023-04-05  0.024225  0.001384  0.042092  0.067723  0.027332 -0.022701
2023-04-06  0.026085  0.009650  0.042685  0.069580  0.029659 -0.027171
2023-04-10  0.043538  0.066104  0.032220  0.087822  0.050090  0.000235

[7603 rows x 6 columns]

In [5]:
import pandas as pd

pri_returns = prices.pct_change()
latest_date = pri_returns.index[-1]
start_date = latest_date + pd.DateOffset(years=5)
start_date

Timestamp('2028-04-10 00:00:00')

In [ ]:
from src import database


database.create_all()

In [ ]:
import pandas as pd

pr_date = prices.index[-1] - pd.DateOffset(years = 1)

prices.iloc[-1] / prices.iloc[prices.index.get_loc(pr_date)] - 1

In [ ]:
import pandas_datareader as pdr



price = pdr.DataReader("329200", "naver", start="2021-4-1")
price.to_csv("329200.csv")

In [ ]:
import json

import pandas as pd
from sec_api import QueryApi
from sec_api import ExtractorApi
from src.config import EDGAR_API

queryApi = QueryApi(api_key=EDGAR_API)

query = {
    "query": {
        "query_string": {
            "query": "ticker:TSLA",
        }
    },
    "from": "200",
    "size": "300",
    "sort": [{"filedAt": {"order": "desc"}}],
}

response = queryApi.get_filings(query)


metadata = pd.DataFrame.from_records(response["filings"])

print(metadata)


# extractorApi = ExtractorApi(EDGAR_API)


# sections_10_k = {
#     "1": "Business",
#     "1A": "Risk Factors",
#     "1B": "Unresolved Staff Comments",
#     "2": "Properties",
#     "3": "Legal Proceedings",
#     "4": "Mine Safety Disclosures",
#     "5": "Market for Registrant’s Common Equity, Related Stockholder Matters and Issuer Purchases of Equity Securities",
#     "6": "Selected Financial Data (prior to February 2021)",
#     "7": "Management’s Discussion and Analysis of Financial Condition and Results of Operations",
#     "7A": "Quantitative and Qualitative Disclosures about Market Risk",
#     "8": "Financial Statements and Supplementary Data",
#     "9": "Changes in and Disagreements with Accountants on Accounting and Financial Disclosure",
#     "9A": "Controls and Procedures",
#     "9B": "Other Information",
#     "10": "Directors, Executive Officers and Corporate Governance",
#     "11": "Executive Compensation",
#     "12": "Security Ownership of Certain Beneficial Owners and Management and Related Stockholder Matters",
#     "13": "Certain Relationships and Related Transactions, and Director Independence",
#     "14": "Principal Accountant Fees and Services",
# }


# for id, f in enumerate(response["filings"]):
#     if f["formType"] == "10-K":
#         url_10k = f["linkToFilingDetails"]

#         out = {}

#         for sec, des in sections_10_k.items():
#             out[des] = extractorApi.get_section(url_10k, sec, "text")

#         filename = f"{id}.json"

#         with open(filename, "w") as f:
#             json.dump(out, f)

In [ ]:
metadata.to_csv(
    'test.csv'
)

In [ ]:
response['filings'][0]['linkToTxt']

In [ ]:


# 8-K example
url_8k = "https://www.sec.gov/Archives/edgar/data/66600/000149315222016468/form8-k.htm"

item_1_1_text = extractorApi.get_section(response['filings'][0]['linkToTxt'], "1-1", "text")
item_1_1_text

In [ ]:


stra = strategy.HierarchicalEqualRiskContribution(prices=prices).simulate(
    start="2015-1-1"
)
stra.value.plot()
# weights_bm = prices.notna().divide(prices.notna().sum(axis=1), axis=0)
# metrics.to_pri_return(prices=prices).multiply(weights_bm).sum(axis=1).loc["2015-1-1":].add(1).cumprod().multiply(1000).plot()
stra.analytics()

In [ ]:
from src import db


with db.SessionContext() as session:
    
    query = session.query(db.models.Meta)
    
    result = list(record.to_dict() for record in query.all())
    
print(result)

In [ ]:
import pandas as pd

pd.DataFrame(result)

In [ ]:
import plotly.graph_objs as go
from plotly.subplots import make_subplots

# create line chart trace
line_trace = go.Scatter(
    x=stra.value.index, y=stra.value.values, mode="lines", name=stra.value.name
)

# create stacked bar chart traces
bar_traces = []
for col in stra.allocations.columns:
    trace = go.Bar(x=stra.allocations.index, y=stra.allocations[col]*100, name=col)
    bar_traces.append(trace)

# create subplots
fig = make_subplots(rows=2, cols=1, shared_xaxes=True)

# add line chart to the first subplot with its own legend
fig.add_trace(line_trace, row=1, col=1)
fig.update_traces(showlegend=True, row=1, col=1)

# add stacked bar chart to the second subplot with its own legend
for trace in bar_traces:
    fig.add_trace(trace, row=2, col=1)
    fig.update_traces(showlegend=True, row=2, col=1)

# update chart layout and style
fig.update_layout(
    title="My Beautiful Subplots",
    xaxis_title="Date",
    yaxis_title="Values",
    template="plotly_dark",
    hovermode="x unified",
    showlegend=True,
    legend=dict(
        x=0.5,
        y=1.2,
        orientation='h',
        xanchor='center',
        yanchor='bottom',
        bordercolor="white",
        borderwidth=1,
        bgcolor="white",
        font=dict(size=12),
    ),
    font=dict(family="Arial", size=12, color="black"),
    barmode="stack",
    # add legends for subplots
    annotations=[
        dict(
            x=0.5,
            y=1.1,
            xref="paper",
            yref="paper",
            showarrow=False,
            text="<b>Line Chart</b>",
            font=dict(size=14),
            align="center",
        ),
        dict(
            x=0.5,
            y=0.6,
            xref="paper",
            yref="paper",
            showarrow=False,
            text="<b>Stacked Bar Chart</b>",
            font=dict(size=14),
            align="center",
        ),
    ],
)

# show the chart
fig.show()

In [ ]:
stra.weights.plot(stacked=True)